body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

        .container{
                    font-family: sans-seirf;
                    max-width: 96%;
                    margin: 0 auto;
                    color: #ff3300;
                    padding-top: 14px;
                    padding-left: 9px;
                    padding-right: 4px;
                 }
            .hello{
                 font-family: sans-seirf;
                max-width:800px;
                margin: 0 auto;
                color:green;
            }
